//=require_tree .
@import "bootstrap";

input[type=submit] {@extend .btn; @extend .btn-success;}

body {
background: url(/assets/qwert.png)
}

h2 {
	color: yellow ;
	font-size: 30px ;
	border: 4px solid black;
	border-radius: 10px ;
}

p {
	font-size: 30px;
}
